# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/xcshareddata/
.swiftpm/configuration/
Package.resolved
.netrc

# Misc
*.swp
*~.nib
